<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Media</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            width: 350px;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
        }

        input[type="text"],
        input[type="number"],
        input[type="checkbox"],
        select {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }

        .button-40 {
            padding: 10px 20px;
            background-color: #55608f;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
        }

        .button-40:hover {
            background-color: #6f7bb6;
            color: #222;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Crear Nuevo Media</h1>
    <form action="/admin/media/create" method="post" enctype="multipart/form-data">
        <label for="integranteId">Integrante:</label>
        <select id="integranteId" name="integranteId" required>
            {{#each integrantes}}
            <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>

        <label for="tiposmediaId">Tipo de Media:</label>
        <select id="tiposmediaId" name="tiposmediaId" required onchange="checkMediaType(this.value);">
            {{#each tiposMedia}}
            <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>

        <!-- Campo para subir archivo, inicialmente oculto -->
        <div id="fileInput" style="display: none;">
            <label for="file">Archivo:</label>
            <input type="file" id="file" name="file">
        </div>

        <label for="url">URL:</label>
        <input type="text" id="url" name="url">

        <label for="nombrearchivo">Nombre del Archivo:</label>
        <input type="text" id="nombrearchivo" name="nombrearchivo">

        <label for="orden">Orden:</label>
        <input type="number" id="orden" name="orden">

        <label for="activo">Activo:</label>
        <input type="checkbox" id="activo" name="activo" value="1" checked>

        <button type="submit" class="button-40">Crear Nuevo</button>
    </form>
</div>

{{#if flashMessages.error}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Swal.fire({
        title: 'Error',
        text: '{{flashMessages.error}}',
        icon: 'error',
        confirmButtonText: 'OK'
    });
</script>
{{/if}}
<script>
    function checkMediaType(mediaTypeId) {
        // Suponiendo que el ID para 'IMAGEN' es '1', ajusta según tu configuración real
        const displayStyle = mediaTypeId === '1' ? 'block' : 'none';
        document.getElementById('fileInput').style.display = displayStyle;
    }
</script>

</body>
</html>
