<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Media</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        /* Esconde scrollbars */
        html {
            overflow-y: scroll; /* Permite el desplazamiento vertical. */
            scrollbar-width: none; /* Para Firefox */
        }

        html::-webkit-scrollbar {
            display: none; /* Para Safari y Chrome */
        }

        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            color: #fff;
            min-height: 100vh;
        }

        .header-bar {
            background-color: #491D57;
            color: white;
            padding: 10px 20px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .home-icon, .placeholder {
            flex:1; /* Asegura que el ícono y el placeholder tengan la misma flexibilidad */
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: 'Arial', sans-serif; /* Establece la fuente del texto */
            font-size: 15px; /* Establece el tamaño del texto */
            gap: 5px;
        }

        .title-container {
            text-align: center;
            flex-grow: 7;
        }

                .button-40 {
            padding: 10px 20px;
            background-color: #55608f;
            color: white;
            border: none;
            border-radius: 10px;
            margin-right: 40px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .button-40:hover {
            background-color: #6f7bb6;
            color: #222;
        }

        .container {
            padding-top: 60px; /* Suficiente espacio para el encabezado */
            padding-bottom: 20px;
            width: 90%;
            margin: auto;
            max-height: 100%;
            overflow: auto; /* Permite desplazamiento dentro del contenedor */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th, td {
            padding: 15px;
            background-color: rgba(255,255,255,0.2);
            text-align: left;
        }

        thead th {
            background-color: #55608f;
        }

        tbody tr:hover {
            background-color: rgba(255,255,255,0.3);
        }

        .volver-button {
            background-color: #55608f;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border: none;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .volver-button:hover {
            background-color: #6f7bb6;
        }

        .material-icons {
            margin-right: 8px; /* Espacio entre el ícono y el texto */
        }
    </style>
</head>
<body>
    <div class="header-bar">
        <a href="/" class="home-icon">
            <span class="material-symbols-outlined">home</span><b>Home</b>
        </a>
        <div class="title-container"><b>Tabla Media</b></div>
        <button type="button" class="button-40" onclick="location.href='/admin/media/crear'">Crear Nuevo</button>
    </div>

    <div class="container">
        <h2>Media</h2>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>ID Integrante</th>
                    <th>Tipos Media Id</th>
                    <th>URL</th>
                    <th>Nombre Archivo</th>
                    <th>Orden</th>
                </tr>
            </thead>
            <tbody>
                {{#each media}}
                <tr>
                    <td>{{this.integranteId}}</td>
                    <td>{{this.tiposmediaId}}</td>
                    <td><iframe style="width: 100px; height: 100px;" src="{{this.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                    <td>
                        {{#if this.nombrearchivo}}
                            <img style="height: 100px; width: 100px; text-align: center; vertical-align: middle" src="{{this.nombrearchivo}}" alt="Media Image">
                        {{/if}}
                    </td>
                    <td>{{this.orden}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/admin" class="volver-button">
            <span class="material-icons">arrow_back</span>Volver
        </a>
    </div>

    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.success}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Éxito',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

</body>
</html>
