<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurar Colores</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            width: 400px;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
        }

        input[type="text"],
        select {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }

        .button-40 {
            padding: 10px 20px;
            background-color: #55608f;
            color: white;
            border: none;
            border-radius: 10px;
            margin-top:20px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
        }

        input[type="color"] {
    width: 100%; /* Hace que el input ocupe todo el ancho disponible */ /* Añade un poco de padding para mejor visualización */
    border: none; /* Remueve cualquier borde predefinido */
    border-radius: 5px; /* Opcional: Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor para indicar que el elemento es interactivo */
}
        .button-40:hover {
            background-color: #6f7bb6;
            color: #222;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Configurar Colores de Integrante</h1>
        <form action="/admin/colores/create" method="post">

            <label for="integranteId">Integrante:</label>
            <input type="text" id="integranteId" name="integranteId" value="{{integranteId}}">

            <label for="background">Color de Fondo:</label>
            <input type="color" id="background" name="background" value="{{background}}" placeholder="#ffffff">

            <label for="headerBackground">Color de Fondo del Encabezado:</label>
            <input type="color" id="headerBackground" name="headerBackground" value="{{headerBackground}}" placeholder="#000000">

            <label for="sectionBackground">Color de Fondo de Secciones:</label>
            <input type="color" id="sectionBackground" name="sectionBackground" value="{{sectionBackground}}" placeholder="#cccccc">
            
            <button type="submit" class="button-40">Guardar Colores</button>
        </form>
    </div>
</body>

{{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
{{/if}}

</html>
